<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="br.com.unopar"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SplashScreenRunnable"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PrincipalActivity"/>
        <activity android:name=".Configuracoes"/>
        <activity android:name=".Conteudos"/>
        <activity android:name=".Extras"/>
        <activity android:name=".Feedback"/>
        <activity android:name=".Forum"/>
        <activity android:name=".Performance"/>
		<activity android:name=".Quiz" />	
		<activity android:name=".materiais.AssocParalelo" />	
		<activity android:name=".materiais.AssocSerie" />	
		<activity android:name=".materiais.Cores" />	
		<activity android:name=".materiais.Definicao" />	
		<activity android:name=".materiais.Funcao" />	
		<activity android:name=".materiais.Resistividade" />	
		<activity android:name=".materiais.ResistorIdeal" />	
		<activity android:name=".materiais.Simbologia" />	
		<activity android:name=".materiais.Tipos" />	
    </application>
</manifest>